<div class="container col-md-8 mt-5">
   <form action="/car/add" method="post" class="card p-3 bg-light text-center">
      <h2 class="text text-primary">Add new car</h2>
      <div class="form-group">
         <label class="text-success h6">car Name</label>
         <input class="form-control" type="text" name="name" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">car Image</label>
         <input class="form-control" type="text" name="image" required>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">car year</label>
         <input class="form-control" type="text" name="year" required>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">classify</label><br>
         stocking <input type="radio" name="classify" value="stocking">
         Out of stock <input type="radio" name="classify" value="Out of stock">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">car status</label>
         <select name="status" class="form-control">
            <option value="">Select a classify</option>
            <option value="new 100%">new 100%</option>
            <option value="new 30%">new 30%</option>
            <option value="new 90%">new 90%</option>
         </select>
      </div>
      <div class="form-group mt-3">
         <input class="btn btn-primary mt-3" type="submit" value="Add">
      </div>
   </form>
</div>